Arc,
Circle {
    -fx-stroke: #141414d4;
}

Arc {
    -fx-fill: #685dc635;
}

Arc:hover {
    -fx-fill: #cbc8df35;
}

Arc:pressed {
    -fx-fill: #cbc8df6f;
}

.radio-button .radio {
    -fx-border-width: 0px;
    -fx-background-color: white;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}